:root {
  /* Shades of Black */
  /* I know that black technically doesn't have shades */
  /* Because black is in fact itself a shade, not a color */
  /* But just let me have this, okay? */
  --black-dark: #1A1A1A;
  --black: #222222;
  --black-light: #333333;

  /* Shades of Orange */
  --orange-dark: #A63A00;
  --orange: #FF6A00;
  --orange-light: #FF9D47;

  /* Shades of Green */
  --green-dark: #5EC300;
  --green: #87FF00; 
  --green-light: #A3FF4D;

  /* Shades of Purple */
  --purple-dark: #4B007D;
  --purple: #7000FF;
  --purple-light: #B47FFF;

  /* Accent Colors */
  --white: #FFFFFF;
  --grey: #AAAAAA;
  --shadow: #2F2F2F; 
}

body {
  background-color: var(--black-dark);
  color: var(--white);
  background-image: url('./src/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  background-color: var(--green);
  color: var(--black);
  border: 2px solid var(--green-dark);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--green-light);
  border-color: var(--green);
}

h1 {
  color: var(--orange);
}

h2 {
  color: var(--purple);
}

.card {
  background-color: var(--black);
  border: 1px solid var(--grey);
  box-shadow: 0px 4px 8px var(--shadow);
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  background-color: var(--black-light);
}

.icon {
  fill: var(--purple-light);
}

