:root {
  --black: #1A1A1A;
  --dark-grey: #333333;
  --medium-grey: #535353;
  --light-grey: #a5a5a5;
  --pale-grey: #c4c4c4;
  --white: #f4ffd4;

  --dark-orange: #A63A00;
  --orange: #FF6A00;
  --light-orange: #FF9D47;

  --yellow: #FDD404;

  --dark-green: #5EC300;
  --green: #87FF00;
  --light-green: #A3FF4D;

  --dark-purple: #4B007D;
  --purple: #7000FF;
  --light-purple: #B47FFF;
}

body {
  background-color: var(--black);
  color: var(--white);
  background-image: url('./src/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding-top: 100px;
  height: 100%;
  overflow: hidden;
}

button {
  border: 2px solid var(--dark-green);
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-green);
  border-color: var(--green);
}

h1 {
  color: var(--orange);
}

h2 {
  color: var(--purple);
}

.card {
  background-color: var(--black);
  border: 1px solid var(--medium-grey);
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  background-color: var(--light-grey);
}

.icon {
  fill: var(--light-purple);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ingredient-button {
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.ingredient-button img {
  width: 70px;
  height: 70px;
  background-color: transparent !important;
}

.ingredient-button:hover img {
  transform: scale(1.2); 
}

.ingredient-button:focus {
  outline: none;
}

.selected-ingredients {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.selected-ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.MuiCard-root .MuiCardMedia-root {
  background-color: transparent !important;
}

.MuiCard-root .MuiCardContent-root {
  background-color: transparent !important;
}

.mascot {
  position: absolute !important;
  top: 50%;           
  left: 20px;          
  transform: translateY(-50%);  
  z-index: 1000;
}
.mascot-image {
  width: 150px;      
  height: 450px;
}

.bookshelf-button {
  position: absolute !important;
  top: 200px;              
  right: 20px;         
  transform: none;        
}

.bookshelf-image {
  width: 420px;
  height: 420px;
  cursor: pointer;
}

